html { 
	height: 100%;
	background-color:lightslategrey;
}

body { 
	height: 100%; 
	width: 100%;
	margin: 0px;
	padding: 0px;
}
#container{
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
}

#nav{
	z-index: 100;
	position: absolute;
	display: inline;	
	border: 0px #000 solid;
	padding: 0px;
	width: 100%;
	text-align: center;
}

#nav li {
	display: inline;
	text-align: center;

}

#nav li a {
	font-family: Arial;
	font-size:14px;
	text-decoration: none;
	margin:auto;
	float:left;
	padding: 10px;
	background-color: #2175bc;
	color: #fff;
}

#nav li a:hover {
	background-color: #2586d7;
	margin-top:-2px;
	padding-bottom:12px;
}
#map-canvas { 
	height: 100%;
	width: 100%;
}